body {
    height: 100%;
    margin: 0 auto;
    font-family: $fregat;
    // overflow: hidden;
    min-width: 1160px;
}

::selection {
    color: $lightFontColor;
    background: $orange;
}

.pace {
    z-index: 99999999999999999999;
}

ul.breadcrumbs {
    list-style: none;
    max-width: $mainMinWidt;
    margin: 2.5em auto;
    li {
        font-family: $openSans;
        font-size: 13px;
        line-height: 24px;
        text-align: left;
        color: $yellow;
        display: inline-block;
        &:after {
            content: "/";
            display: inline-block;
            padding: 0 0em 0 0.3em;
            margin: 0;
            color: $darkFontColor;
        }
        &:last-child {
            &:after {
                content: "";
            }
        }
        a {
            color: $darkFontColor;
            text-decoration: underline;
        }
    }
}

section {
    max-width: 728px;
    margin: 0 auto;
    padding: 0 0 4em 0;
}

article {}

p {
    font-family: $openSans;
    color: $darkFontColor;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    &.accent {
        // font-family: OpenSans;
        // color: #373737;
        // font-size: 30px;
        // font-weight: 400;
        // text-align: center;
        line-height: 2.8em;
        margin: 5em auto;
        max-width: 530px;
        .bolding {
            font-family: $openSans;
            color: $darkFontColor;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            display: block;
        }
        .italing {
            display: block;
            font-family: $openSansLI;
            color: $darkFontColor;
            font-size: 30px;
            font-style: italic;
            text-align: center;
        }
    }
}

a {
    text-decoration: underline;
    color: #ebc401;
    &:hover {
        text-decoration: none;
    }
}

b {}

input {
    outline: none;
    border: none;
}

form {}

input[type="password"],
input[type="text"] {
    border: none;
    padding: 0 1em;
    // margin: inherit;
    font-size: 0.9em;
    outline: none;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    width: 320px;
    height: 37px;
    &::-webkit-input-placeholder {
        font-size: 0.9em;
        color: #7e7e7e;
    }
    &::-moz-placeholder {
        font-size: 0.9em;
        // color: #7e7e7e;
    }
    &:-moz-placeholder {
        font-size: 0.9em;
        color: #7e7e7e;
    }
    &:-ms-input-placeholder {
        font-size: 0.9em;
        color: #7e7e7e;
    }
}

select {
    border: none;
    padding: 0 1em;
    margin: 0;
    font-size: 0.9em;
    outline: none;
    font-size: 0.9em;
    color: #525252;
    border-radius: 10px;
    background-color: #e7eded;
    width: 221px;
    height: 37px;
    appearance: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: 94% 45%;
    option {}
}

.button {
    width: auto;
    padding: 0 2em 0 2em;
    margin: 0 1em 0 1em;
    height: 43px;
    color: $lightFontColor;
    // background-color: #fff;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Fregat;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    border-radius: 1.5em;
    transition: all ease .2s;
    border: 1px solid $lightFontColor;
    &:hover {
        border: 1px solid $yellow;
        color: $yellow;
    }
    &__yellow {
        background-color: $yellow;
        color: $darkFontColor;
        border: none;
        &:hover {
            background-color: darken($yellow, 15%);
            border: none;
            color: $darkFontColor;
        }
    }
    &__orange {
        background-color: $orange;
        color: $darkFontColor;
        border: none;
        &:hover {
            border: none;
            color: $darkFontColor;
            background-color: darken($orange, 15%);
        }
    }
    &__blue {
        background-color: $blue;
        color: $lightFontColor;
        border: none;
        &:hover {
            color: $lightFontColor;
            border: none;
            background-color: darken($blue, 15%);
        }
    }
    &__blazerblue {
        background-color: $blazerBlue;
        color: $lightFontColor;
        border: none;
        &:hover {
            color: $lightFontColor;
            border: none;
            background-color: darken($blazerBlue, 15%);
        }
    }
    &__centered {
        display: block;
        margin: 0 auto;
        max-width: 20em;
    }
}

.main_width {
    max-width: $mainMaxWidt;
    margin: 0 auto;
    padding: 0 1em 0 1em;
    box-sizing: content-box;
}

.full_width {
    max-width: 100%;
    margin: 0 auto;
    // padding: 0 1em 0 1em;
    box-sizing: content-box;
    box-sizing: border-box;
    &__grey {
        background-color: $grey;
        width: 100%;
        // max-height: 966px;
        // min-height: 100vh;
    }
    &__darkgrey {
        background-color: $darkGrey;
        width: 100%;
        // max-height: 966px;
        // min-height: 100vh;
    }
    &__darker {
        background-color: #2e3030;
        width: 100%;
        color: $lightFontColor;
        // max-height: 966px;
        // min-height: 100vh;
    }
    &__white {
        background-color: $lightFontColor;
        width: 100%;
        // max-height: 966px;
        // min-height: 100vh;
    }
}

// main stylesheet
header {
    max-width: 100%;
    width: 100%;
    min-height: 700px;
    // height: 80vh;
    position: relative;
    padding: 90px 66px 0 66px;
    box-sizing: border-box;
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(16, 16, 19, 0.76);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &.main_header {
        // min-height: 413px;
        // max-height: 413px;
        background-image: url('../img/header_photo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &.notmain_header {
        min-height: 413px;
        max-height: 413px;
        background-image: url('../img/header_photo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &.notmain_header_two {
        min-height: 413px;
        max-height: 413px;
        background-image: url('../img/uslugi.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.tags_block_content {
    max-width: 845px;
    margin: 4em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    a {
        background-color: $grey;
        width: auto;
        height: 35px;
        display: inline-block;
        padding: 0 1.4em 0 1.4em;
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 13px;
        font-weight: 400;
        line-height: 35px;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        margin: 0 .4em 1em .4em;
        transition: all ease .2s;
        &:hover {
            background-color: darken($grey, 7%);
        }
    }
}

.testimonials {
    &_block {
        max-width: 100%;
        width: 100%;
        background-image: url('../img/testimonials.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 700px;
        height: auto;
        position: relative;
        padding: 4.5em 66px 4.5em 66px;
        box-sizing: border-box;
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(16, 16, 19, 0.76);
            width: 100%;
            height: 100%;
            z-index: 1;
            // opacity: 0.5;
        }
    }
    &_sliderwr {
        background-color: $lightGrey;
        width: $mainMinWidt;
        min-height: 739px;
        max-height: 739px;
        height: 739px;
        position: relative;
        z-index: 2;
        margin: 3.5em auto 3.5em auto;
        position: relative;
    }
    &_arrow__next {
        z-index: 2;
        right: 41px;
        top: 45%;
        position: absolute;
    }
    &_arrow__prev {
        z-index: 2;
        left: 41px;
        top: 45%;
        position: absolute;
    }
    &_item {
        font-family: $openSans;
        &_photo {
            width: 128px;
            height: 129px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin: 64px auto 14px auto;
        }
        &_name {
            color: $blue;
            font-size: 15px;
            font-weight: 600;
            line-height: 36px;
            text-align: center;
        }
        &_info {
            color: #999999;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
        }
        &_about {
            color: $darkFontColor;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            // color: $darkFontColor;
            // font-size: 14px;
            // font-weight: 600;
            // line-height: 24px;
            // text-align: center;
            width: 680px;
            height: 94px;
            overflow: hidden;
            margin: 27px auto 0 auto;
        }
        &_strategy {
            display: flex;
            flex-flow: row-wrap;
            justify-content: space-between;
            align-items: center;
            width: 859px;
            margin: 54px auto 0 auto;
            &_cel {
                text-align: center;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    background-image: url(../img/svg/long_arrow_right.svg);
                    background-repeat: no-repeat;
                    width: 191px;
                    height: 9px;
                    top: 25px;
                    right: -145px;
                }
            }
            &_str {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    background-image: url(../img/svg/long_arrow_right.svg);
                    background-repeat: no-repeat;
                    width: 191px;
                    height: 9px;
                    top: 25px;
                    right: -145px;
                }
                text-align:center;
            }
            &_result {
                text-align: center;
            }
        }
    }
}

.testims_img {}

.testims_name {
    color: $blue;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

.testims_info {
    color: $darkFontColor;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 225px;
    height: 72px;
    overflow: hidden;
}

// .swiper-button-next {
//     &_arrow__next {
//         // outline: 1px dotted red;
//         width: 47px;
//         height: 33px;
//         right: 15%;
//         top: 60%;
//         background-image: url('../img/svg/slider_arrow.svg');
//         transform: rotate(180deg);
//         position: absolute;
//         background-size: cover;
//         cursor: pointer;
//         @include respond-to(medium-screens) {
//             // color: green;
//             display: none;
//         }
//         &:hover {
//             background-image: url('../img/svg/slider_arrow_hover.svg');
//         }
//     }
// }
// .swiper-button-prev {
//     &_arrow__prev {
//         // outline: 1px dotted red;
//         width: 47px;
//         height: 33px;
//         left: 15%;
//         top: 60%;
//         position: absolute;
//         background-image: url('../img/svg/slider_arrow.svg');
//         background-size: cover;
//         cursor: pointer;
//         @include respond-to(medium-screens) {
//             // color: green;
//             display: none;
//         }
//         &:hover {
//             background-image: url('../img/svg/slider_arrow_hover.svg');
//         }
//         // transform:rotate(180deg);
//     }
// }
.pensils {
    @include sprite($pensils);
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 60px;
}

.sunglasses {
    @include sprite($sunglasses);
    display: inline-block;
    position: absolute;
    top: 110px;
    left: 30px;
}

.coffeecup {
    @include sprite($coffeecup);
    display: inline-block;
    top: -15px;
    right: 10px;
    position: absolute;
}

.notebook {
    @include sprite($notebook);
    display: inline-block;
    top: 37px;
    right: -60px;
    position: absolute;
}

.top_nav {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    z-index: 2;
    max-width: 1447px;
    width:100%;
    min-width: 1027px;
    // margin: 0 auto;
    box-sizing: border-box;
    // padding: 37px 0;
    padding: 0 22px 20px 22px;
    height: 90px;
    // outline: 1px dotted red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: all ease .5s;
    &__address {
        font-family: $PTSans;
        color: $lightFontColor;
        padding: 1em 0 0;
        width: 20%;
        min-width: 215px;
        span {
            display: block;
            font-weight: 400;
            line-height: 20px;
            &:first-child {
                font-size: 18px;
            }
            &:nth-child(2) {
                font-size: 14px;
            }
        }
        a {
            color: $yellow;
            font-style: italic;
            text-decoration: underline;
            font-size: 14px;
            margin: 5px 0 0 0;
            display: block;
        }
    }
    &__menu {
        font-family: $fregat;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 77%;
        max-width: 812px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        li {
            margin: 0;
            padding: 0 0 0 3em;
            list-style: none;
            display: inline;
            height: 100%;
            display: inline-flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &.selected_menuitem {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    background-color: $yellow;
                    content: "";
                    // width: 100%;
                    height: 6px;
                    transition: all ease 0.2s;
                    width: 100%;
                    margin: 0 0 0 -1.6em;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                background-color: $yellow;
                content: "";
                width: 0%;
                height: 6px;
                transition: all ease 0.2s;
                align-self: center;
            }
            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    background-color: $yellow;
                    content: "";
                    // width: 100%;
                    height: 6px;
                    transition: all ease 0.2s;
                    width: 100%;
                    margin: 0 0 0 -1.6em;
                }
            }
            a {
                color: $lightFontColor;
                font-size: 15px;
                font-weight: 400;
                line-height: 48px;
                text-decoration: none;
                &:hover {
                    // text-decoration: underline;
                }
            }
        }
    }
    &__fixed {
        position: fixed;
        top: 0 !important;
        left: 0;
        width: 100%;
        background-color: rgba(16, 16, 19, .76);
        transition: all ease .5s;
        z-index:99;
    }
}

.middle_nav {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    margin: 7% 0 0 0;
    letter-spacing: 0.1em;
    color: $lightFontColor;
    &__name {
        font-family: $fregat;
        font-size: 24px;
        line-height: 54px;
        // text-align: center;
    }
    &__slogan {
        text-transform: uppercase;
        font-family: $fregat;
        font-size: 36px;
        line-height: 54px;
        margin: 0 0 35px 0;
    }
}

.arrow_bottom {
    width: 58px;
    height: 58px;
    background-image: url('../img/svg/circled_arrow_bottom.svg');
    margin: 0 auto;
    cursor: pointer;
    border-radius: 2em;
    transition: all ease .2s;
    &__header {
        position: absolute;
        z-index: 2;
        bottom: 5vw;
        left: 50%;
        margin: 0 0 0 -27px;
    }
    &__hdrnotmain {
        position: absolute;
        z-index: 2;
        // bottom: 0px;
        left: 50%;
        margin: 0 0 0 -27px;
    }
    &:hover {
        background-image: url('../img/svg/circled_arrow_bottom_hover.svg');
        // background-color: rgba(255, 255, 255, 0.18);
    }
}

.category_mainpage {
    // margin:0 auto;
    // width:96%;
    // box-sizing: border-box;
}

.category_wr {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 11px auto;
    .category_item {
        width: 307px;
        height: 246px;
        background-color: $grey;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 0 11px 0;
        transition: all ease .2s;
        @include respond-to(medium-screens) {
            width: 18vw;
            height: 13vw;
            min-width: 175px;
            min-height: 140px;
            font-size: 14px;
        }
        svg {
            margin: 0 0 1em 0;
            path {
                transition: all ease .2s;
            }
        }
        &:hover {
            background-color: $yellow;
            svg path {
                fill: $lightFontColor;
            }
            span {
                color: $lightFontColor;
            }
        }
        span {
            font-family: Fregat;
            color: #323232;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            transition: all ease .2s;
            display: block;
            height: 2.5em;
            overflow: hidden;
        }
    }
}

.privelegies {
    background-image: url('../img/privelegies_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 709px;
    padding: 5.5vw 0;
    box-sizing: border-box;
}

.big_heading {
    font-family: $fregat;
    color: $darkFontColor;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 2;
    &_white {
        color: $lightFontColor;
    }
    &_black {
        color: $darkFontColor;
    }
}

.ease_with_us {
    width: 33%;
    margin: 0 auto;
    // outline: 1px dotted red;
    p {
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}

.ease_with_us_items {
    max-width: 46.7%;
    margin: 3.5em auto;
    // outline: 1px dotted red;
    min-height: 228px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include respond-to(medium-screens) {
        max-width: 80%;
    }
}

.ease_with_us_item {
    width: 228px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        margin: 0 0 1.5em 0;
    }
    span {
        display: block;
        height: 43px;
        overflow: hidden;
        font-family: $fregat;
        color: $darkFontColor;
        font-size: 18px;
        // font-weight: 400;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        height: 95px;
        overflow: hidden;
    }
}

.onepageslider {
    position: relative;
    padding: 7em 2em 5em 2em;
}

.slider-button-next,
.slider-button-prev {
    @include respond-to(medium-screens) {
        // color: green;
        display: none;
    }
}

.call_backs {
    max-width: $mainMinWidt;
    height: 451px;
    margin: 82px 0;
    &_item {
        background-color: $lightGrey;
        width: 328px;
        height: 451px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 0 0.9em 0 0.9em;
        box-sizing: border-box;
        .callbacker_img {
            overflow: hidden;
            border-radius: 3em;
            display: inline-block;
            margin: 0 auto;
        }
        .callbacker_name {
            font-family: $openSans;
            color: $blue;
            font-size: 15px;
            font-weight: 600;
            line-height: 36px;
            text-align: center;
        }
        .callbacker_date {
            font-family: $openSans;
            color: darken($grey, 25%);
            font-size: 13px;
            // font-weight: 400;
            line-height: 36px;
            text-align: center;
        }
        .callbacker_text {
            font-family: $openSans;
            color: $darkFontColor;
            font-size: 14px;
            // font-weight: 400;
            line-height: 24px;
            text-align: center;
            margin: 34px 0;
            height: 170px;
            overflow: hidden;
        }
    }
    &_arrow__next {
        right: 15%;
        top: 53%;
        z-index: 2;
        position: absolute;
    }
    &_arrow__prev {
        left: 15%;
        top: 53%;
        z-index: 2;
        position: absolute;
    }
}

.arrow__next {
    // outline: 1px dotted red;
    width: 47px;
    height: 33px;
    // right: 15%;
    // top: 60%;
    // z-index: 2;
    // position: absolute;
    background-image: url('../img/svg/slider_arrow.svg');
    transform: rotate(180deg);
    background-size: cover;
    cursor: pointer;
    &:hover {
        background-image: url('../img/svg/slider_arrow_hover.svg');
    }
}

.arrow__prev {
    // outline: 1px dotted red;
    width: 47px;
    height: 33px;
    // left: 15%;
    // top: 60%;
    // z-index: 2;
    // position: absolute;
    background-image: url('../img/svg/slider_arrow.svg');
    background-size: cover;
    cursor: pointer;
    &:hover {
        background-image: url('../img/svg/slider_arrow_hover.svg');
    }
    // transform:rotate(180deg);
}

.swiper-button-disabled {
    opacity: 0.5;
}

.our_team {
    background-image: url('../img/our_team.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 109px 0 109px 0;
    .about_button {
        width: 10em;
        margin-top: -3em;
    }
}

.stage_block {
    background-image: url('../img/light-coffee-pen-working.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 109px 0 109px 0;
    position: relative;
    &:after {
        background-color: rgba(16, 16, 19, 0.76);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &_items {
        position: relative;
        z-index: 2;
        max-width: 1518px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        .stage_item {
            display: inline-flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 228px;
            &_name {
                font-family: $fregat;
                color: $lightFontColor;
                text-transform: uppercase;
                font-size: 18px;
                // font-weight: 400;
                line-height: 54px;
                text-align: center;
                letter-spacing: 0.1em;
            }
            &_text {
                font-family: $openSans;
                color: $lightFontColor;
                font-size: 14px;
                // font-weight: 400;
                line-height: 24px;
                overflow: hidden;
                height: 94px;
                text-align: center;
            }
        }
    }
    // .about_button {
    //     width: 10em;
    //     margin-top: -3em;
    // }
}

.team_list {
    max-width: $mainMinWidt;
    // outline: 1px dotted red;
    margin: 78px auto;
    min-height: 526px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &_item {
        width: 511px;
        display: flex;
        height: 226px;
        margin: 0 0 74px 0;
        padding: 0 1em 0 1em;
        box-sizing: content-box;
        &_img {
            margin: 0 1.4em 0 0;
        }
        &_info {
            &_name {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 17px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
            }
            &_status {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;
                margin: 0 0 1em 0;
            }
            &_text {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                height: 92px;
                overflow: hidden;
                width: 276px;
                // margin:0 0 1em 0;
            }
            &_phone {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 18px;
                font-weight: 400;
                line-height: 1em;
                text-align: left;
                display: block;
                text-decoration: none;
                margin: 1.7em 0 0 0;
            }
            &_email {
                font-family: $openSans;
                color: $blue;
                font-size: 14px;
                font-style: italic;
                line-height: 2.1em;
                text-decoration: underline;
                text-align: left;
            }
        }
    }
}

.our_partners {
    padding: 122px 1em 7.5em 1em;
    min-height: 411px;
}

.logo_list {
    max-width: $mainMinWidt;
    margin: 91px auto;
    // outline:1px dotted red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    &_item {
        // margin:0 60px 0 60px;
        img {}
    }
}

.a_img_hoverer {
    &:after {
        content: '';
        position: absolute;
        top: 15px;
        left: 0;
        transition: all ease .5s;
        // opacity:0;
    }
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0px 0 0 -25px;
        transition: all ease .2s;
        opacity: 0;
    }
    &:hover {
        &:after {
            content: '';
            position: absolute;
            top: 15px;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            display: block;
            width: 100%;
            height: 100%;
            transform: translateY(-15px);
            z-index: 2;
            // opacity:1;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -25px;
            background-image: url(../img/svg/expand.svg);
            background-repeat: no-repeat;
            display: block;
            width: 100%;
            height: 100%;
            transform: translateY(-15px);
            width: 53px;
            height: 53px;
            z-index: 3;
            opacity: 1;
        }
    }
}

.cert_list {
    max-width: 1732px;
    margin: 71px auto;
    // outline:1px dotted red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    &_item {
        margin: 0 0 2em 0;
        // margin:0 60px 0 60px;
        position: relative;
        height: 334px;
        width: 230px;
        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: 15px;
        //     left: 0;
        //     transition: all ease .2s;
        // }
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     margin: -25px 0 0 -25px;
        //     transition: all ease .2s;
        // }
        // &:hover {
        //     &:after {
        //         content: '';
        //         position: absolute;
        //         top: 15px;
        //         left: 0;
        //         background-color: rgba(0, 0, 0, 0.7);
        //         display: block;
        //         width: 100%;
        //         height: 100%;
        //         transform: translateY(-15px);
        //         z-index: 2;
        //     }
        //     &:before {
        //         content: '';
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         margin: -25px 0 0 -25px;
        //         background-image: url(../img/img_zoom_hover.png);
        //         background-repeat: no-repeat;
        //         display: block;
        //         width: 100%;
        //         height: 100%;
        //         transform: translateY(-15px);
        //         width: 53px;
        //         height: 53px;
        //         z-index: 3;
        //     }
        // }
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}

.questions {
    padding: 122px 0 0 0;
    height: 559px;
    &_text {
        max-width: 365px;
        margin: 1em auto 3em auto;
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 14px;
        // font-weight: 400;
        line-height: 24px;
        text-align: center;
        &_white {
            color: $lightFontColor;
        }
        &_black {
            color: $darkFontColor;
        }
    }
    &_button {
        // max-width:11em;
        margin: 3em auto;
    }
    &_input {
        display: block;
        margin: 1em auto 1em auto;
    }
}

.contacts_list_heading {
    margin: 0 0 0.8em 0;
    padding: 0;
    text-align: left;
}

.main_contacts {
    display: flex;
    min-height: 330px;
    &_map {
        width: 50%;
        height: 28vw;
        min-height: 330px;
    }
    &_info {
        width: 50%;
        height: 28vw;
        min-height: 330px;
        background-color: $yellow;
        &_block {
            margin: 6vw 0 0 9vw;
            width: 330px;
            @include respond-to(medium-screens) {
                // color: green;
                margin: 2vw 0 0 6vw;
            }
            .contacts_list {
                font-family: $openSans;
                color: $lightFontColor;
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                &_adr {
                    // line-height: 60px;
                    margin: 0 0 1.9em 0;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/baloon.svg);
                        width: 21px;
                        height: 27px;
                        display: block;
                        position: absolute;
                        left: -2.4em;
                    }
                }
                &_phone {
                    // line-height: 60px;
                    margin: 0 0 1.9em 0;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/phone.svg);
                        width: 21px;
                        height: 21px;
                        display: block;
                        position: absolute;
                        left: -2.4em;
                    }
                }
                &_email {
                    // line-height: 60px;
                    margin: 0 0 1.9em 0;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/email.svg);
                        display: block;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        left: -2.4em;
                    }
                }
                &_time {
                    margin: 0 0 1.9em 0;
                    // line-height: 60px;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/time.svg);
                        display: block;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        left: -2.4em;
                    }
                }
            }
        }
    }
}

footer {
    height: 53px;
    background-color: $darkGrey;
    .footer_content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-width: $mainMiddleWidt;
        margin: 0 auto;
        padding: 0 1em 0 1em;
        height: 100%;
        &_cprt {
            color: $lightFontColor;
            font-family: $openSans;
            font-size: 14px;
            // font-weight: 300;
            letter-spacing: 0.14px;
            // line-height: 24px;
            // text-align: left;
        }
    }
    .return_totop {
        background-image: url('../img/svg/totop.svg');
        background-repeat: no-repeat;
        width: 23px;
        height: 13px;
        cursor: pointer;
    }
}
