body {
    height: 100%;
    margin: 0 auto;
    font-family: $fregat;
    // overflow: hidden;
}

.pace {
    z-index: 99999999999999999999;
}

a {
    text-decoration: underline;
    color: #ebc401;
    &:hover {
        text-decoration: none;
    }
}

b {}

input {
    outline: none;
    border: none;
}

form {}

input[type="password"],
input[type="text"] {
    border: none;
    padding: 0 1em;
    // margin: inherit;
    font-size: 0.9em;
    outline: none;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    width: 320px;
    height: 37px;
    &::-webkit-input-placeholder {
        font-size: 0.9em;
        color: #7e7e7e;
    }
    &::-moz-placeholder {
        font-size: 0.9em;
        // color: #7e7e7e;
    }
    &:-moz-placeholder {
        font-size: 0.9em;
        color: #7e7e7e;
    }
    &:-ms-input-placeholder {
        font-size: 0.9em;
        color: #7e7e7e;
    }
}

select {
    border: none;
    padding: 0 1em;
    margin: 0;
    font-size: 0.9em;
    outline: none;
    font-size: 0.9em;
    color: #525252;
    border-radius: 10px;
    background-color: #e7eded;
    width: 221px;
    height: 37px;
    appearance: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: 94% 45%;
    option {}
}

.button {
    width: auto;
    padding: 0 2em 0 2em;
    height: 43px;
    color: $darkFontColor;
    background-color: #fff;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Fregat;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    border-radius: 1.5em;
    transition: all ease .2s;
    &__yellow {
        background-color: $yellow;
        color: $darkFontColor;
        &:hover {
            background-color: darken($yellow, 15%);
        }
    }
    &__centered {
        display: block;
        margin: 0 auto;
        max-width: 20em;
    }
}

.main_width {
    max-width: $mainMaxWidt;
    margin: 0 auto;
    padding: 0 1em 0 1em;
    box-sizing: content-box;
}

.full_width {
    max-width: 100%;
    margin: 0 auto;
    // padding: 0 1em 0 1em;
    box-sizing: content-box;
    box-sizing: border-box;
    &__grey {
        background-color: $grey;
        width: 100%;
        // max-height: 966px;
        // min-height: 100vh;
    }
    &__darkgrey {
        background-color: $darkGrey;
        width: 100%;
        // max-height: 966px;
        // min-height: 100vh;
    }
    &__white {
        background-color: $lightFontColor;
        width: 100%;
        // max-height: 966px;
        // min-height: 100vh;
    }
}

// main stylesheet
header {
    max-width: 100%;
    width: 100%;
    background-image: url('../img/header_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    height: 80vh;
    position: relative;
    padding: 0 66px 0 66px;
    box-sizing: border-box;
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(16, 16, 19, 0.76);
        width: 100%;
        height: 100%;
        z-index: 1;
        // opacity: 0.5;
    }
}

.top_nav {
    position: relative;
    z-index: 2;
    max-width: 1447px;
    margin: 0 auto;
    padding: 37px 0;
    // outline: 1px dotted red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    &__address {
        font-family: $PTSans;
        color: $lightFontColor;
        span {
            display: block;
            font-weight: 400;
            line-height: 20px;
            &:first-child {
                font-size: 18px;
            }
            &:nth-child(2) {
                font-size: 14px;
            }
        }
        a {
            color: $yellow;
            font-style: italic;
            text-decoration: underline;
            font-size: 14px;
            margin: 5px 0 0 0;
            display: block;
        }
    }
    &__menu {
        font-family: $fregat;
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 0 48px;
            padding: 0;
            list-style: none;
            display: inline;
            a {
                color: $lightFontColor;
                font-size: 15px;
                font-weight: 400;
                line-height: 48px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.middle_nav {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    margin: 15vh 0 0 0;
    letter-spacing: 0.1em;
    color: $lightFontColor;
    &__name {
        font-family: $fregat;
        font-size: 24px;
        line-height: 54px;
        // text-align: center;
    }
    &__slogan {
        text-transform: uppercase;
        font-family: $fregat;
        font-size: 36px;
        line-height: 54px;
        margin: 0 0 35px 0;
    }
}

.arrow_bottom {
    width: 58px;
    height: 58px;
    background-image: url('../img/svg/circled_arrow_bottom.svg');
    margin: 0 auto;
    cursor: pointer;
    border-radius: 2em;
    transition: all ease .2s;
    &__header {
        position: absolute;
        z-index: 2;
        bottom: 5vw;
        left: 50%;
        margin: 0 0 0 -20px;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.18);
    }
}

.category_wr {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 11px auto;
    .category_item {
        width: 307px;
        height: 246px;
        background-color: $grey;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 0 11px 0;
        transition: all ease .2s;
        @include respond-to(medium-screens) {
            width: 18vw;
    height: 13vw;
            min-width: 175px;
            min-height: 140px;
            font-size: 14px;

        }
        svg {
            margin: 0 0 1em 0;
            path {
                transition: all ease .2s;
            }
        }
        &:hover {
            background-color: $yellow;
            svg path {
                fill: $lightFontColor;
            }
            span {
                color: $lightFontColor;
            }
        }
        span {
            font-family: Fregat;
            color: #323232;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            transition: all ease .2s;
            display: block;
            height: 2.5em;
            overflow: hidden;
        }
    }
}

.privelegies {
    background-image: url('../img/privelegies_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 709px;
    padding: 5.5vw 0;
    box-sizing: border-box;
}

.big_heading {
    font-family: $fregat;
    color: $darkFontColor;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    &_white {
        color: #fff;
    }
}

.ease_with_us {
    width: 33%;
    margin: 0 auto;
    // outline: 1px dotted red;
    p {
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}

.ease_with_us_items {
    max-width: 46.7%;
    margin: 3.5em auto;
    // outline: 1px dotted red;
    min-height: 228px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include respond-to(medium-screens) {
        max-width: 80%;
    }
}

.ease_with_us_item {
    width: 228px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        margin: 0 0 1.5em 0;
    }
    span {
        display: block;
        height: 43px;
        overflow: hidden;
        font-family: $fregat;
        color: $darkFontColor;
        font-size: 18px;
        // font-weight: 400;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        height: 95px;
        overflow: hidden;
    }
}

.onepageslider {
    position: relative;
    padding: 0 2em 0 2em;
}

.call_backs {
    max-width: $mainMinWidt;
    height: 451px;
    margin: 82px 0;
    &_item {
        background-color: $lightGrey;
        width: 328px;
        height: 451px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 0 0.9em 0 0.9em;
        box-sizing: border-box;
        .callbacker_img {
            overflow: hidden;
            border-radius: 3em;
            display: inline-block;
            margin: 0 auto;
        }
        .callbacker_name {
            font-family: $openSans;
            color: $blue;
            font-size: 15px;
            font-weight: 600;
            line-height: 36px;
            text-align: center;
        }
        .callbacker_date {
            font-family: $openSans;
            color: darken($grey, 25%);
            font-size: 13px;
            // font-weight: 400;
            line-height: 36px;
            text-align: center;
        }
        .callbacker_text {
            font-family: $openSans;
            color: $darkFontColor;
            font-size: 14px;
            // font-weight: 400;
            line-height: 24px;
            text-align: center;
            margin: 34px 0;
            height: 170px;
            overflow: hidden;
        }
    }
    &_arrow__next {
        // outline: 1px dotted red;
        width: 47px;
        height: 33px;
        right: 15%;
        top: 60%;
        background-image: url('../img/svg/slider_arrow.svg');
        transform: rotate(180deg);
        position: absolute;
        background-size: cover;
        cursor: pointer;
        @include respond-to(medium-screens) {
            // color: green;
            display: none;
        }
    }
    &_arrow__prev {
        // outline: 1px dotted red;
        width: 47px;
        height: 33px;
        left: 15%;
        top: 60%;
        background-image: url('../img/svg/slider_arrow.svg');
        background-size: cover;
        position: absolute;
        cursor: pointer;
        @include respond-to(medium-screens) {
            // color: green;
            display: none;
        }
        // transform:rotate(180deg);
    }
}

.swiper-button-disabled {
    opacity: 0.5;
}

.our_team {
    background-image: url('../img/our_team.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 109px 0 109px 0;
    .about_button {
        width: 10em;
        margin-top: -3em;
    }
}

.team_list {
    max-width: $mainMinWidt;
    // outline: 1px dotted red;
    margin: 78px auto;
    min-height: 526px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &_item {
        width: 511px;
        display: flex;
        height: 226px;
        margin: 0 0 74px 0;
        padding: 0 1em 0 1em;
        box-sizing: content-box;
        &_img {
            margin: 0 1.4em 0 0;
        }
        &_info {
            &_name {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 17px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
            }
            &_status {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;
                margin: 0 0 1em 0;
            }
            &_text {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                height: 92px;
                overflow: hidden;
                width: 276px;
                // margin:0 0 1em 0;
            }
            &_phone {
                font-family: $openSans;
                color: $darkFontColor;
                font-size: 18px;
                font-weight: 400;
                line-height: 1em;
                text-align: left;
                display: block;
                text-decoration: none;
                margin: 1.7em 0 0 0;
            }
            &_email {
                font-family: $openSans;
                color: $blue;
                font-size: 14px;
                font-style: italic;
                line-height: 2.1em;
                text-decoration: underline;
                text-align: left;
            }
        }
    }
}

.our_partners {
    padding: 122px 1em 0 1em;
    height: 411px;
}

.logo_list {
    max-width: $mainMinWidt;
    margin: 91px auto;
    // outline:1px dotted red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    &_item {
        // margin:0 60px 0 60px;
        img {}
    }
}

.questions {
    padding: 122px 0 0 0;
    height: 559px;
    &_text {
        max-width: 361px;
        margin: 1em auto 3em auto;
        font-family: $openSans;
        color: $darkFontColor;
        font-size: 14px;
        // font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    &_button {
        // max-width:11em;
        margin: 3em auto;
    }
    &_input {
        display: block;
        margin: 1em auto 1em auto;
    }
}

.contacts_list_heading {
    margin: 0 0 0.8em 0;
    padding: 0;
    text-align: left;
}

.main_contacts {
    display: flex;
    &_map {
        width: 50vw;
        height: 28vw;
    }
    &_info {
        width: 50vw;
        height: 28vw;
        background-color: $yellow;
        &_block {
            margin: 6vw 0 0 9vw;
            width: 330px;
            @include respond-to(medium-screens) {
                // color: green;
                margin: 2vw 0 0 6vw;
            }
            .contacts_list {
                font-family: $openSans;
                color: $lightFontColor;
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                &_adr {
                    // line-height: 60px;
                    margin: 0 0 1.9em 0;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/baloon.svg);
                        width: 21px;
                        height: 27px;
                        display: block;
                        position: absolute;
                        left: -2.4em;
                    }
                }
                &_phone {
                    // line-height: 60px;
                    margin: 0 0 1.9em 0;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/phone.svg);
                        width: 21px;
                        height: 21px;
                        display: block;
                        position: absolute;
                        left: -2.4em;
                    }
                }
                &_email {
                    // line-height: 60px;
                    margin: 0 0 1.9em 0;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/email.svg);
                        display: block;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        left: -2.4em;
                    }
                }
                &_time {
                    margin: 0 0 1.9em 0;
                    // line-height: 60px;
                    position: relative;
                    &:before {
                        content: "";
                        background-image: url(../img/svg/time.svg);
                        display: block;
                        width: 21px;
                        height: 21px;
                        position: absolute;
                        left: -2.4em;
                    }
                }
            }
        }
    }
}

footer {
    height: 53px;
    background-color: $darkGrey;
    .footer_content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-width: $mainMiddleWidt;
        margin: 0 auto;
        padding: 0 1em 0 1em;
        height: 100%;
        &_cprt {
            color: $lightFontColor;
            font-family: $openSans;
            font-size: 14px;
            // font-weight: 300;
            letter-spacing: 0.14px;
            // line-height: 24px;
            // text-align: left;
        }
    }
    .return_totop {
        background-image: url('../img/svg/totop.svg');
        background-repeat: no-repeat;
        width: 23px;
        height: 13px;
        cursor: pointer;
    }
}
