// vars for media-queries
// exampl:
//      @include screen($littleboy-min, $littleboy-max){
//          background-color: #000;
//      }

// // widths
// $littleboy-min: 0px;
// $littleboy-max: 480px;
// ////////////////////////////////
// $middleboy-min: 320px;
// $middleboy-max: 568px;
// //////////////////////////////
// $olderboy-min: 414px;
// $olderboy-max: 736px;
// //////////////////////////////
$mainMaxWidt:1579px;
$mainMiddleWidt:1440px;
$mainMinWidt:1124px;
$asideWidt:22%;
$articleWidt:72%;
$anyPageContentWidt:637px;
// Corporate colors
$yellow:#e5bd42;
$orange:#e5aa42;
$blue:#4159c0;
$blazerBlue:#2b43ad;
$origGrey:#b1b1b1;
$lightGrey:#E9EAEA;
$darkGrey:#434647;
$blackColor:#292929;
// advanced colors
// $lightGrey:#f4f4f4;
$grey:#e5e6e6;
$lightGrey:#f1f2f2;
$lightFontColor:#fff;
$darkFontColor:#383838;
$darkerGrey:#2e3030;
// $orange:#ff611c;
// $darkGrey:#323232;
$black:#2E302F;
