// Google Fonts
// opensans
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic');
// $openSans:'Open Sans', sans-serif;
// clearSans

// Fregat font
@font-face {
    font-family: 'Fregat';
    src: local('Fregat'), url('fonts/fregat.woff2') format('woff2'), url('fonts/fregat.woff') format('woff'), url('fonts/fregat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fregat-i';
    src: local('Fregat Italic'), local('Fregat-Italic'), url('fonts/fregatitalic.woff2') format('woff2'), url('fonts/fregatitalic.woff') format('woff'), url('fonts/fregatitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fregat-b';
    src: local('Fregat Bold'), local('Fregat-Bold'), url('fonts/fregatbold.woff2') format('woff2'), url('fonts/fregatbold.woff') format('woff'), url('fonts/fregatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fregat-bi';
    src: local('Fregat Bold Italic'), local('Fregat-BoldItalic'), url('fonts/fregatbolditalic.woff2') format('woff2'), url('fonts/fregatbolditalic.woff') format('woff'), url('fonts/fregatbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

// PT Sans font
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('fonts/ptsans.woff2') format('woff2'), url('fonts/ptsans.woff') format('woff'), url('fonts/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans-i';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('fonts/ptsansitalic.woff2') format('woff2'), url('fonts/ptsansitalic.woff') format('woff'), url('fonts/ptsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans-b';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('fonts/ptsansbold.woff2') format('woff2'), url('fonts/ptsansbold.woff') format('woff'), url('fonts/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans-bi';
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('fonts/ptsansbolditalic.woff2') format('woff2'), url('fonts/ptsansbolditalic.woff') format('woff'), url('fonts/ptsansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}



















@font-face {
    font-family: 'Open Sans-l';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/opensanslight.woff2') format('woff2'), url('fonts/opensanslight.woff') format('woff'), url('fonts/opensanslight.ttf') format('truetype');
    // font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans-li';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('fonts/opensanslightitalic.woff2') format('woff2'), url('fonts/opensanslightitalic.woff') format('woff'), url('fonts/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('fonts/opensans.woff2') format('woff2'), url('fonts/opensans.woff') format('woff'), url('fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans-i';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('fonts/opensansitalic.woff2') format('woff2'), url('fonts/opensansitalic.woff') format('woff'), url('fonts/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
// @font-face {
//     font-family: 'Open Sans-sb';
//     src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('opensanssemibold.woff2') format('woff2'), url('opensanssemibold.woff') format('woff'), url('opensanssemibold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Open Sans-sbi';
//     src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('opensanssemibolditalic.woff2') format('woff2'), url('opensanssemibolditalic.woff') format('woff'), url('opensanssemibolditalic.ttf') format('truetype');
//     font-weight: 600;
//     font-style: italic;
// }
@font-face {
    font-family: 'Open Sans-b';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensansbold.woff2') format('woff2'), url('fonts/opensansbold.woff') format('woff'), url('fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans-bi';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('fonts/opensansbolditalic.woff2') format('woff2'), url('fonts/opensansbolditalic.woff') format('woff'), url('fonts/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
// @font-face {
//     font-family: 'Open Sans-eb';
//     src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('opensansextrabold.woff2') format('woff2'), url('opensansextrabold.woff') format('woff'), url('opensansextrabold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Open Sans-ebi';
//     src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('opensansextrabolditalic.woff2') format('woff2'), url('opensansextrabolditalic.woff') format('woff'), url('opensansextrabolditalic.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
// }







$PTSans: 'PT Sans', sans-serif;
$PTSansI: 'PT Sans-i', sans-serif;
$PTSansB: 'PT Sans-b', sans-serif;
$PTSansBI: 'PT Sans-bi', sans-serif;

$fregat: 'Fregat', sans-serif;
$fregatI: 'Fregat-i', sans-serif;
$fregatB: 'Fregat-b', sans-serif;
$fregatBI: 'Fregat-bi', sans-serif;

$openSans: 'Open Sans', sans-serif;
$openSansI: 'Open Sans-i', sans-serif;
$openSansL: 'Open Sans-l', sans-serif;
$openSansLI: 'Open Sans-li', sans-serif;
$openSansB: 'Open Sans-b', sans-serif;
$openSansBI: 'Open Sans-bi', sans-serif;


// $clearsansBoldItalic: 'clear_sansbold_italic';
// $clearsansItalic: 'clear_sansitalic';
// $clearsansLightRegular: 'clear_sans_lightregular';
// $clearsansMediumRegular: 'clear_sans_mediumregular';
// $clearsansMediumItalic: 'clear_sans_mediumitalic';
// $clearsansThinRegular: 'clear_sans_thinregular';


// $timesNewRoman: 'Times New Roman';
