footer.full_width
    .footer_content
        .footer_content_cprt © «Профит» Бухгалтерские и юридические услуги в Санкт-Петербурге
        .return_totop#totop
.loading_resources
//- bower:js
script(src='components/jquery/dist/jquery.js')
script(src='components/swiper/dist/js/swiper.js')
script(src='components/waypoints/lib/noframework.waypoints.js')
script(src='components/skrollr/src/skrollr.js')
//- endbower
script(src='//cdnjs.cloudflare.com/ajax/libs/packery/2.1.1/packery.pkgd.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js')

script(src="js/all.min.js")