footer.full_width
    .footer_content
        .footer_content_cprt © «Профит» Бухгалтерские и юридические услуги в Санкт-Петербурге
        .return_totop#totop
.loading_resources
//- bower:js
script(src='components/jquery/dist/jquery.js')
script(src='components/swiper/dist/js/swiper.js')
script(src='components/waypoints/lib/noframework.waypoints.js')
script(src='components/skrollr/src/skrollr.js')
script(src='components/jquery.easing/js/jquery.easing.js')
script(src='components/magnific-popup/dist/jquery.magnific-popup.js')
//- endbower
script(src='//cdnjs.cloudflare.com/ajax/libs/packery/2.1.1/packery.pkgd.min.js')
//- script(src='//cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js')

script(src="js/all.min.js")

.callback_block
    .callback_block_trigger
    form(action="")
        input(type="text",placeholder='Перезвоните мне')
        input(type="text",placeholder='+7 (___) ___-__-__',data-inputmask="'mask': '+7 (999)-999-99-99'")
        input(type="button",value='Перезвоните мне').button.button__yellow

ul.tmp_nav
    li
        a(href="index.html") Главная
    li
        a(href="about.html") О нас
    li
        a(href="uslugi.html") Услуги
    li
        a(href="posts.html") Статьи
    li
        a(href="post.html") Статья
    li
        a(href="faq.html") Faq
    li
        a(href="contacts.html") Контакты