header.notmain_header
    .top_nav
        .top_nav__address
            span Санкт-Петербург
            span Магнитогорская 51 лит А офис 309
            a(href="#") смотреть на карте
        ul.top_nav__menu
            li.selected_menuitem
                a(href="#") Главная
            li
                a(href="#") О компании
            li
                a(href="#") Услуги
            li
                a(href="#") Полезная информация
            li
                a(href="#") Вопрос/ответ
            li
                a(href="#") Контакты
    .middle_nav
        //- .middle_nav__name ООО «Профит»
        .middle_nav__slogan О компании
        a(href="#").button О компании
        a(href="#").button Сотрудники
        a(href="#").button Наши клиенты
        a(href="#").button Сертификаты
    //- .arrow_bottom.arrow_bottom__header